/*MAIN*/
main {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
    /* for mobile browser */
    // overflow: hidden;
}

article.container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

article.container :is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: $white-alpha-8;
}

article.container::-webkit-scrollbar-button {
    height: 10px;
}

.section:not(:last-child) {
    margin-block-end: 16px;
}

article.container::before {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: $gradient-1;
    pointer-events: none;
    z-index: 1;
}

article {

    .container {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;
        height: 100%;
        overflow-y: auto;
        /* for firefox*/
        overflow-y: overlay;
    }
}

/*CURRENT WEATHER*/
.current-weather-card>.body-3 {
    text-transform: capitalize;
}

.current-weather-card {
    .weapper {
        margin-block: 12px;
        display: flex;
        gap: 8px;
        align-items: center;

        .weather-icon {
            margin-inline: auto;
        }
    }

    .meta-list {
        margin-block-start: 16px;
        padding-block-start: 16px;
        border-block-start: 1px solid $outline;

        .meta-item {
            display: flex;
            align-items: center;
            gap: 8px;

            &:not(:last-child) {
                margin-block-end: 12px;
            }

            .meta-text {
                color: $on-surface-variant;
            }
        }
    }
}

@media (min-width: 340px) {

    .highlights-list {
        .highlights-card {

            &.one {
                .m-icon {
                    width: 60px;
                }
            }
        }
    }

}


@media (min-width: 768px) {
    main {
        height: calc(100vh - 96px);
        height: calc(100svh - 96px);

        .container {
            display: grid;
            padding-block-start: 0;
            grid-template-columns: 280px minmax(0, 1fr);
            align-items: flex-start;
            gap: 24px;

            .content-left {
                position: sticky;
                top: 0;

                .section {

                    .current-weather-card {
                        padding: 30px;
                    }

                    .forecast-card {
                        padding: 30px;

                        .card-item {

                            &:not(:last-child) {
                                margin-block-end: 16px;
                            }
                        }
                    }

                    &:not(:last-child) {
                        margin-block: 20px;
                    }
                }
            }

            .content-right {
                .highlights {
                    padding-block-start: 0;
                    margin-block-start: 20px;

                    .m-icon {
                        font-size: 3.6rem;
                    }

                    .card-lg {
                        .highlights-list {
                            grid-template-columns: 1fr 1fr;

                            .highlights-card {


                                &.two {
                                    .card-list {
                                        .card-item {
                                            width: 46%;
                                            display: -webkit-box;
                                        }
                                    }
                                }

                                &.one {
                                    .card-item {
                                        width: 25%;
                                        flex-direction: column-reverse;
                                        gap: 8px;
                                    }
                                }

                                &:nth-child(-n+2) {
                                    grid-column: span 2;
                                }

                            }
                        }
                    }
                }

                .hourly-forecast {
                    .slider-container {
                        margin-inline: 0 -24px;
                        border-bottom-left-radius: $radius-16;
                        border-top-left-radius: $radius-16;

                        .slider-list {

                            .slider-item {
                                .card-sm {
                                    padding: 16px;
                                }
                            }

                            &::before {
                                display: none;
                            }

                            &::after {
                                min-width: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {

    main {
        height: calc(100vh - 96px);
        height: calc(100svh - 96px);

        .container {
            grid-template-columns: 360px minmax(0, 1fr);
            gap: 40px;

            .content-left {

                .current-weather {
                    .weather-icon {
                        width: 80px;
                    }
                }

                .forecast {
                    .forecast-card {
                        padding: 36px;

                        .title-2 {
                            $title-2: 2.2rem;
                        }

                    }
                }


            }

            .content-right {

                .highlights {
                    .card-lg {

                        .highlights-list {

                            .highlights-card {
                                .m-icon {
                                    font-size: 4.8rem;
                                }
                            }
                        }
                    }
                }

                .hourly-forecast {
                    .slider-container {
                        .slider-list {
                            gap: 16px;
                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 1400px) {

    main {
        .container {

            .content-right {

                .highlights {
                    .card-lg {

                        .highlights-list {
                            grid-template-columns: repeat(4, 1fr);
                        }
                    }
                }

            }
        }
    }

}